.main {
  width: 100%;
  margin: 0;
  padding: 0;

  .inner {
    width: 100%;
    margin-inline: auto;
  }

  .inner {
    width: 100%;
    margin-inline: auto;
  }

  a,
  label {
    color: inherit;
    text-decoration: none;
  }
  h1 {
    display: none;
    position: relative;

    margin: auto 0;
    font-weight: bold;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 200px;
      max-width: 40vw;
      height: 2px;
      background: #e8e8e866;
    }
  }
  ul {
    display: flex;
    align-items: center;
    flex-direction: row;

    width: 100%;
    height: 50px;
    gap: 10px;
    margin: auto 0;
    padding: 0;

    list-style: none;

    li {
      &:last-child {
        margin-left: auto;
        a,
        label {
          color: #343434;
          background: #e8e8e8;
        }
        &:hover a {
          color: #e8e8e8;
          background: #4c4c4c;
        }
        &:hover label {
          color: #e8e8e8;
          background: #4c4c4c;
        }
      }
    }
  }
  a,
  label {
    margin: 0;
    padding: 5px 30px;
    border-radius: 50px;

    background: #4c4c4c;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);

    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
    white-space: nowrap;
    &:hover {
      color: #343434;
      background: #e8e8e8;
    }

    strong {
      font-size: 0px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .inner {
    display: flex;
    gap: 20px;
    max-width: 80vw;
  }
}

@media screen and (max-width: 875px) {
  .main {
    position: fixed;
    background: #212121b7;
    backdrop-filter: blur(1px);
    top: 0;
    left: 0;
    height: 110px;
    padding: 20px 30px;
    z-index: 800;
    h1 {
      display: block;
    }
    ul {
      width: auto;
      li {
        display: none;
        &:last-child {
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .main {
    a,
    label {
      font-size: 16px;
      padding-inline: 20px;
    }
    h1 {
      font-size: 16px;
    }
  }
}
