.main {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: #21212188;
  backdrop-filter: blur(3px);

  .inner {
    margin: auto;
    background: #343434;
    padding: 20px;
    border-radius: 5px;
  }
}
